Landscape-Client==12.12
PAM==0.4.2
Twisted-Core==12.3.0
apt-xapian-index==0.45
argparse==1.2.1
chardet==2.0.1
distribute==0.6.34
gevent==0.13.7
greenlet==0.4.0
gunicorn==0.15.0
pyOpenSSL==0.13
pyserial==2.6
python-apt==0.8.8ubuntu6
python-debian==0.1.21-nmu2ubuntu1
requests==1.1.0
six==1.2.0
ssh-import-id==3.14
urllib3==1.5
virtualenv==1.9.1
wsgiref==0.1.2
zope.interface==4.0.5
