<%inherit file="/base/index.html"/>
<%block name="page_specific_header">

<script type="text/javascript">
   $(document).ready(function() {
     metisTable();
            });
   </script>

  <script type="text/javascript">
  $(document).ready(function() {
      $('#visits').dataTable();
  } );
  </script>
</%block>
<%block name="content">
<!-- #content -->
<div class="content">
  <!-- .outer -->
  <div class="container-fluid outer">
      <div class="row-fluid">
          <!-- .inner -->
          <div class="span12 inner">
              <div class="row-fluid">
                  <div class="span7">
                      <div class="box">
                          <header>
                              <h5>Patient Particulars</h5>
                              <div class="toolbar">
                                  <span class="label label-warning">
                                     Particulars
                                  </span>
                              </div>
                          </header>
                          <div class="body">
                            <h4>${person.health_id}</h4>
                            <h2>${person.surname} ${person.other_names}</h2>
                            <p><b>Date of Birth:</b> ${person.dob}</p>
                            <p>Gender:</b> ${person.gender}</p>
                            <p><b>Cell:</b> ${location.name}
                            <hr>
                            <h4>Relations</h4>
                            % if person.relations:
                               % for relation in person.relations:
                              <p><a href="${request.route_path('patient_dashboard_page', health_id=relation.relative.health_id)}">
                                ${relation.relative.surname}, ${relation.relative.other_names}</a> 
                                [${relation.relationship_type.name}]
                               </p>
                               % endfor
                            % endif
                            % if person.back_relations:
                               % for relation in person.back_relations:
                              <p><a href="${request.route_path('patient_dashboard_page', health_id=relation.back_relative.health_id)}">${relation.back_relative.surname}, ${relation.back_relative.other_names} </a>[${relation.relationship_type.name} of]</p>
                               % endfor
                            % endif
                             <a href="${request.route_path('person_relations_list', person_a=person.id)}">Create Relationship</a>
                         </div><!--body-->
                      </div><!--box-->
                  </div><!--span8-->
                  <div class="span5">
                      <div class="box">
                          <header>
                            <h5>Enter New Visit</h5>

                            <div class="toolbar">
                                <span class="label label-info">
                                    Patient Visit Type 
                                </span>
                            </div>
                          </header>
                          <div class="body">
                            <table class="table table-bordered table-condensed table-hover table-striped" id="visit_forms">
                              <thead><tr><td>Form</td><td>Description</td></tr>
                              </thead>
                              <tbody><!--
                                <tr><td>ANC</td><td>ANC Visit Form</td></tr>
                                <tr><td>ANC</td><td>ANC Visit Form</td></tr> -->
                                % for form in forms:
                                   <tr><td>${form.id}</td><td><a href="${request.route_path('visit_add', health_id=person.health_id,form=form.id)}">${form.name}</a></td></tr> 
                                % endfor
                              </tbody>
                            </table>
<!--
                            <ol>
                               <li><a href="request.route_path('visit_add', health_id=person.health_id, form='anc')}">ANC Visit</a></li>
                               <li><a href="request.route_path('visit_add', health_id=person.health_id, form='eid')}">EID</a></li>
                            </ol> 
-->
                          </div>
                      </div>
                  </div>
              </div><!--row-fluid-->
              <div class="row-fluid">
                  <div class="span12">
                      <div class="box">
                          <header>
                            <h5>Visits</h5>

                            <div class="toolbar">
                                <span class="label label-info">
                                    List of previous visits
                                </span>
                            </div>
                          </header>
                          <div class="body">
                           <div class="container-fluid">
                             <div class="row-fluid">
                               <div class="span12">
                                     <div class="box">
                                 % if not len(visits):
                                     No visits yet.
                                 % else:
                                   <div id="collapse4" class="body">
                                   <table width="101%" border="0" class="table table-bordered table-condensed table-hover table-striped" id="visits">
                                     <thead>
                                         <tr>
                                             <th width="20%" scope="col">Date</th>
                                             <th width="20%" scope="col">Form</th>
                                             <th width="20%" scope="col">Health Unit</th>
                                             <th width="20%" scope="col">Health Worker<th>
                                             <th width="20%" scope="col">Enterer<th>
                                         </tr>
                                     </thead>
                                     <tbody>
                                       % for visit in visits:
                                         <tr>
                                             <td>${visit.visit_date}</td>
                                             <td>${visit.health_unit}</td>
                                             <td>${visit.provider}</td>
                                             <td>${visit.form}</td>
                                             <td></td>
                                         <tr>
                                       % endfor
                                     </tbody>
                                   </table>
                                    </div><!--body-->
                                 % endif
                                   </div><!--box-->
                               </div><!--span12 inner-->
                             </div><!--row-fluid-->
                           </div><!--container-fluid-->






        <script>window.jQuery || document.write('<script src="${request.static_url('longitudinal_register:static/js/vendor/jquery-1.9.1.min.js')}"><\/script>')</script>

        <script src="${request.static_url('longitudinal_register:static/js/vendor/jquery-migrate-1.1.1.min.js')}"></script>
        <!--
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js')}"></script>
        <script>window.jQuery.ui || document.write('<script src="${request.static_url('longitudinal_register:static/js/vendor/jquery-ui-1.10.0.custom.min.js')}"><\/script>')</script>
        -->

        <script src="${request.static_url('longitudinal_register:static/js/vendor/bootstrap.min.js')}"></script>

        <script type="text/javascript" src="${request.static_url('longitudinal_register:static/js/lib/jquery.tablesorter.min.js')}"></script>
        <script type="text/javascript" src="${request.static_url('longitudinal_register:static/js/lib/jquery.dataTables.min.js')}"></script>
        <script type="text/javascript" src="${request.static_url('longitudinal_register:static/js/lib/DT_bootstrap.js')}"></script>
        <script src="${request.static_url('longitudinal_register:static/js/lib/responsive-tables.js')}"></script>
        <script type="text/javascript">
            $(function() {
                metisTable();
            });
        </script>
        <script type="text/javascript" src="${request.static_url('longitudinal_register:static/js/main.js')}"></script>
        
        
        <script type="text/javascript" src="${request.static_url('longitudinal_register:static/js/style-switcher.js')}"></script>

                          </div>
                      </div><!--box-->
                  </div><!--span12-->
              </div><!--row-fluid-->
          </div><!--span12 inner-->
      </div><!--row-fluid-->
  </div><!--container-fluid outer-->
</div><!--content-->
</%block>
