<%inherit file="/base/edit.html"/>
<%block name="content">
<!-- <form id="person_form" action="/person/save" method="post"> -->
 ${form.begin(request.route_url('health_unit_save'), id='health_unit_form')}
   ${form.csrf_token()}
   <div class="row-fluid">
     <div class="span12 inner">
         <div class="row-fluid">
         </div><!--row-fluid-->
         <div class="row-fluid">
             <div class="span4 lightblue">
                 <label>Name</label>
                    ${form.text('name', placeholder="Name", class_="span12")}
            </div><!--/span-->
            <div class="span4 lightblue">
                 <label>Location</label>
                 ${form.select("location", locations, class_="span12 chzn-select")}
                  <!--
                     <div class="input-prepend">
                         <span class="add-on"><i class="icon-user"></i></span> -->
                  <!--   </div>--><!--input-prepend-->
             </div><!--/span-->
         </div><!--/row-->
         <div class="row-fluid">
             <div class="span4 bgcolor">
                 <label>Health Centre Type</label>
                 ${form.select('health_unit_type', health_unit_types)}
             </div><!--/span-->
             <div class="span4 bgcolor">
                <label>GPS Coordinates:</label>
                 ${form.text('gps')}
             </div><!--/span-->
         </div><!--/row-->
         <div class="row-fluid">
           <div class="span4">
             ${form.submit("Submit", "Submit", class_="btn")}
           </div>
         </div><!--/row-->
     </div><!--/span-->
 </div><!--/row-->
</%block>
