<!DOCTYPE html>
<!--[if lt IE 7]>       <html class="no-js lt-ie9 lt-ie8 lt-ie7">   <![endif]-->
<!--[if IE 7]>          <html class="no-js lt-ie9 lt-ie8">          <![endif]-->
<!--[if IE 8]>          <html class="no-js lt-ie9">                 <![endif]-->
<!--[if gt IE 8]><!-->  <html class="no-js">                        <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Longitudinal Register | ${page}</title>
        <meta name="description" content="Longitudinal Register">
        <meta name="viewport" content="width=device-width">
        <link type="text/css" rel="stylesheet" href="${request.static_url('longitudinal_register:static/css/bootstrap.min.css')}">
        <link type="text/css" rel="stylesheet" href="${request.static_url('longitudinal_register:static/css/bootstrap-responsive.min.css')}">
        <link type="text/css" rel="stylesheet" href="${request.static_url('longitudinal_register:static/css/font-awesome.min.css')}">
        <link type="text/css" rel="stylesheet" href="${request.static_url('longitudinal_register:static/css/style.css')}">
        <link type="text/css" rel="stylesheet" href="${request.static_url('longitudinal_register:static/css/prettify.css')}">
        <link type="text/css" rel="stylesheet" href="${request.static_url('longitudinal_register:static/css/jquery.tagsinput.css')}">
        <link type="text/css" rel="stylesheet" href="${request.static_url('longitudinal_register:static/css/chosen.css')}">
        <link type="text/css" rel="stylesheet" href="${request.static_url('longitudinal_register:static/css/uniform.default.css')}">
        <link rel="stylesheet" href="${request.static_url('longitudinal_register:static/css/datepicker.css')}">
        <link rel="stylesheet" href="${request.static_url('longitudinal_register:static/css/bootstrap-toggle-buttons.css')}">
        <link type="text/css" rel="stylesheet" href="${request.static_url('longitudinal_register:static/css/calendar.css')}">
        
        <link rel="stylesheet" href="${request.static_url('longitudinal_register:static/css/theme.css')}">

<%block name="header">
</%block>
<%block name="page_specific_header">
</%block>

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js')}"></script><![endif]-->
        <!--[if IE 7]>
        <link type="text/css" rel="stylesheet" href="${request.static_url('longitudinal_register:static/css/font-awesome-ie7.min.css')}"/>
        <![endif]-->

    </head>
    <body>
        <!-- BEGIN WRAP -->
        <div id="wrap">

            <!-- BEGIN TOP BAR -->
            <div id="top">
                <!-- .navbar -->
                <div class="navbar navbar-inverse navbar-static-top">
                    <div class="navbar-inner">
                        <div class="container-fluid">
                            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a>
                            <a class="brand" href="${request.route_path('main')}">Longitudinal Register</a>
                            <!-- .topnav -->
                            <div class="btn-toolbar topnav">
                                <div class="btn-group">
                                    <a id="changeSidebarPos" class="btn btn-success" rel="tooltip"
                                    data-original-title="Show / Hide Sidebar" data-placement="bottom">
                                        <i class="icon-resize-horizontal"></i>
                                    </a>
                                </div>
                                <div class="btn-group">
                                    <a class="btn btn-inverse" rel="tooltip" data-original-title="E-mail" data-placement="bottom">
                                        <i class="icon-envelope"></i>
                                        <span class="label label-warning">5</span>
                                    </a>
                                    <a class="btn btn-inverse" rel="tooltip" href="#" data-original-title="Messages"
                                       data-placement="bottom">
                                        <i class="icon-comments"></i>
                                        <span class="label label-important">4</span>
                                    </a>
                                </div>
                                <div class="btn-group">
                                    <a class="btn btn-inverse" rel="tooltip" href="#" data-original-title="Document"
                                       data-placement="bottom">
                                        <i class="icon-file"></i>
                                    </a>
                                    <a href="#helpModal" class="btn btn-inverse" rel="tooltip" data-placement="bottom"
                                       data-original-title="Help" data-toggle="modal">
                                        <i class="icon-question-sign"></i>
                                    </a>
                                </div>
                                <div class="btn-group">
                                    <a class="btn btn-inverse" data-placement="bottom" data-original-title="Logout" rel="tooltip"
                                       href="login.html"><i class="icon-off"></i></a></div>
                            </div>
                            <!-- /.topnav -->
                            <div class="nav-collapse collapse">
                                <!-- .nav -->
                                <ul class="nav">
                                    <li class="active"><a href="index.html">Dashboard</a></li>
                                </ul>
                                <!-- /.nav -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.navbar -->
            </div>
            <!-- END TOP BAR -->


            <!-- BEGIN HEADER.head -->
            <header class="head">
                <div class="search-bar">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="search-bar-inner">
                                <a id="menu-toggle" href="#menu" data-toggle="collapse"
                                   class="accordion-toggle btn btn-inverse visible-phone"
                                   rel="tooltip" data-placement="bottom" data-original-title="Show/Hide Menu">
                                    <i class="icon-sort"></i>
                                </a>

                                <form class="main-search">
                                    <input class="input-block-level" type="text" placeholder="Live search...">
                                    <button id="searchBtn" type="submit" class="btn btn-inverse"><i class="icon-search"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- ."main-bar -->
                <div class="main-bar">
                    <div class="container-fluid">
                        <div class="row-fluid">
                            <div class="span12">
                                <h3><i class="icon-home"></i> ${page}</h3>
                            </div>
                        </div>
                        <!-- /.row-fluid -->
                    </div>
                    <!-- /.container-fluid -->
                </div>
                <!-- /.main-bar -->
            </header>
            <!-- END HEADER.head -->

            <!-- BEGIN LEFT  -->
            <div id="left">
                <!-- BEGIN MAIN NAVIGATION -->
                <ul id="menu" class="unstyled accordion collapse in">
                    <li><a href="${request.route_path('patients_list_page')}"><i class="icon-user icon-large"></i> Patients</a></li>
                    <li><a href="${request.route_path('locations_list')}"><i class="icon-file icon-large"></i> Locations</a></li>
                   <li class="accordion-group">
                     <a data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#component-nav"><i class="icon-tasks icon-large"></i> Health Units <span class="label label-inverse pull-right">2</span></a>
                      <ul class="collapse" id="component-nav">
                        <li><a href="${request.route_path('health_units_list')}"><i class="icon-hospital icon-large"></i> Health Units</a></li>
                        <li><a href="${request.route_path('health_unit_type_list')}"><i class="icon-hospital icon-large"></i> Health Unit Type</a></li>
                    </ul>
                   </li><!--accordion-group-->
                   <li class="accordion-group">
                     <a data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#concepts-nav"><i class="icon-tasks icon-large"></i> Concepts <span class="label label-inverse pull-right">2</span></a>
                      <ul class="collapse" id="concepts-nav">
                        <li><a href="${request.route_path('concept_list_page')}"><i class="icon-hospital icon-large"></i> Concepts</a></li>
                        <li><a href="${request.route_path('concept_datatype_list_page')}"><i class="icon-hospital icon-large"></i> Concept Data Type</a></li>
                    </ul>
                   </li><!--accordion-group-->
                    <li><a href="${request.route_path('concept_list_page')}"><i class="icon-user icon-large"></i> Users</a></li>
                    <li><a href="${request.route_path('form_list')}"><i class="icon-user icon-large"></i> Forms </a></li>
                </ul>
                <!-- END MAIN NAVIGATION -->

            </div>
            <!-- END LEFT -->

            <!-- BEGIN MAIN CONTENT -->
            <div id="content">
                <!-- .outer -->
                <div class="container-fluid outer">
                    <div class="row-fluid">
                        <!-- .inner -->
                        <div class="span12 inner">
                          <%block name="content">
                            <div class="tac">
                            </div>
                            <div class="tac">
                                <a class="quick-btn" href="#">
                                    <i class="icon-bolt icon-2x"></i>
                                    <span>inverse</span>
                                    <span class="label label-inverse">2</span>
                                </a>
                                <a class="quick-btn" href="#">
                                    <i class="icon-check icon-2x"></i>
                                    <span>important</span>
                                    <span class="label label-important">2</span>
                                </a>
                                <a class="quick-btn" href="#">
                                    <i class="icon-building icon-2x"></i>
                                    <span>No Label</span>
                                </a>
                                <a class="quick-btn" href="#">
                                    <i class="icon-envelope icon-2x"></i>
                                    <span>success</span>
                                    <span class="label label-success">-456</span>
                                </a>
                                <a class="quick-btn" href="#">
                                    <i class="icon-signal icon-2x"></i>
                                    <span>warning</span>
                                    <span class="label label-warning">+25</span>
                                </a>
                                <a class="quick-btn" href="#">
                                    <i class="icon-external-link icon-2x"></i>
                                    <span>&pi;</span>
                                    <span class="label btn-metis-2">3.14159265</span>
                                </a>
                                <a class="quick-btn" href="#">
                                    <i class="icon-lemon icon-2x"></i>
                                    <span>&eacute;</span>
                                    <span class="label btn-metis-4">2.71828</span>
                                </a>
                                <a class="quick-btn" href="#">
                                    <i class="icon-glass icon-2x"></i>
                                    <span>&phi;</span>
                                    <span class="label btn-metis-3">1.618</span>
                                </a>
                            </div>
                            <hr>
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="box">
                                        <header>
                                            <h5>Calendar</h5>
                                        </header>
                                        <div id="calendar_content" class="body">
                                            <div id='calendar'></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span6">
                                    <div class="box">
                                        <header>
                                            <div class="icons"><i class="icon-tags"></i></div>
                                            <h5>Latest Visits (${len(visits)})</h5>
                                        </header>
                                        <div class="block">
                                            <table class="table table-striped">
                                                <tbody>
                                                 % for visit in visits:
                                                    <tr>
                                                        <td>${visit.visit_date}</td>
                                                        <td>${visit.patient.surname}</td>
                                                    </tr>
                                                 % endfor
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="box">
                                        <header>
                                            <h5>Line Chart</h5>
                                        </header>
                                        <div class="body" id="trigo" style="height: 250px;"></div>
                                    </div>
                                </div>
                                <div class="span6">
                                    <div class="box">
                                        <div class="body">
                                            <table class="table table-bordered table-condensed table-hovered sortableTable">
                                                <thead>
                                                    <tr>
                                                        <th>Health Centre <i class="icon-sort"></i><i class="icon-sort-down"></i><i
                                                                class="icon-sort-up"></i></th>
                                                        <th>Person <i class="icon-sort"></i><i class="icon-sort-down"></i><i
                                                                class="icon-sort-up"></i></th>
                                                        <th>Time <i class="icon-sort"></i><i class="icon-sort-down"></i><i
                                                                class="icon-sort-up"></i></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                 % for visit in visits:
                                                    <tr>
                                                        <td>${visit.health_centre.name}</td>
                                                        <td>${visit.patient.surname}, ${visit.patient.other_names} </td>
                                                        <td>${visit.visit_date}</td>
                                                    </tr>
                                                 % endfor
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         </%block>
                        </div>
                        <!-- /.inner -->
                    </div>
                    <!-- /.row-fluid -->
                </div>
                <!-- /.outer -->
            </div>
            <!-- END CONTENT -->


            <!-- #push do not remove -->
            <div id="push"></div>
            <!-- /#push -->
        </div>
        <!-- END WRAP -->

        <div class="clearfix"></div>

        <!-- BEGIN FOOTER -->
        <div id="footer">
            <p>2013 © Millennium Villages Project Ruhiira</p>
        </div>
        <!-- END FOOTER -->

        <!-- #helpModal -->
        <div id="helpModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel"
             aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="helpModalLabel"><i class="icon-external-link"></i> <%block name="dialog_header"/></h3>
            </div>
            <div class="modal-body">
              <%block name="dialog_content"/>
            </div>
            <div class="modal-footer">
                <%block name="dialog_footer"/>

                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>
        <!-- /#helpModal -->

        <script>window.jQuery || document.write('<script src="${request.static_url('longitudinal_register:static/js/vendor/jquery-1.9.1.min.js')}"><\/script>')</script>

        <script src="${request.static_url('longitudinal_register:static/js/vendor/jquery-migrate-1.1.1.min.js')}"></script>

        <script>window.jQuery.ui || document.write('<script src="${request.static_url('longitudinal_register:static/js/vendor/jquery-ui-1.10.0.custom.min.js')}"><\/script>')</script>

        <script src="${request.static_url('longitudinal_register:static/js/vendor/bootstrap.min.js')}"></script>
        <script src="${request.static_url('longitudinal_register:static/js/lib/jquery.mousewheel.js')}"></script>
        <script src="${request.static_url('longitudinal_register:static/js/lib/jquery.tablesorter.min.js')}"></script>
        <script src="${request.static_url('longitudinal_register:static/js/lib/prettify.js')}"></script>
        <script src="${request.static_url('longitudinal_register:static/js/lib/jquery.sparkline.min.js')}"></script>
        <script src="${request.static_url('longitudinal_register:static/js/lib/jquery.dualListBox-1.3.min.js')}"></script>
        <script src="${request.static_url('longitudinal_register:static/js/lib/bootstrap-inputmask.js')}"></script>
        <script src="${request.static_url('longitudinal_register:static/js/lib/jquery.autosize-min.js')}"></script>
        <script src="${request.static_url('longitudinal_register:static/js/lib/jquery.inputlimiter.1.3.1.min.js')}"></script>
        <script src="${request.static_url('longitudinal_register:static/js/lib/jquery.tagsinput.min.js')}"></script>
        <script src="${request.static_url('longitudinal_register:static/js/lib/chosen.jquery.min.js')}"></script>
        <script src="${request.static_url('longitudinal_register:static/js/lib/jquery.uniform.min.js')}"></script>
        <script src="${request.static_url('longitudinal_register:static/js/lib/jquery.validVal-4.3.2.js')}"></script>
        <script src="${request.static_url('longitudinal_register:static/js/lib/bootstrap-datepicker.js')}">
          $('#dp3').datepicker();
        </script>
        <script src="${request.static_url('longitudinal_register:static/js/lib/flot/jquery.flot.js')}"></script>
        <script src="${request.static_url('longitudinal_register:static/js/lib/flot/jquery.flot.pie.js')}"></script>
        <script src="${request.static_url('longitudinal_register:static/js/lib/flot/jquery.flot.selection.js')}"></script>
        <script src="${request.static_url('longitudinal_register:static/js/lib/flot/jquery.flot.resize.js')}"></script>
        <script src="${request.static_url('longitudinal_register:static/js/lib/fullcalendar.min.js')}"></script>





        <script src="${request.static_url('longitudinal_register:static/js/main.js')}"></script>
        <script>
            $(function() {
                formGeneral();
            });
        </script>

        

        <script type="text/javascript">
            $(function() {
                dashboard();

                
            });
        </script>
        
        <script type="text/javascript" src="${request.static_url('longitudinal_register:static/js/style-switcher.js')}"></script>
        
    </body>
</html>
